.step {
  margin-bottom: 20px; }
  .step .step-number {
    font-size: 20px; }
  .step .step-desc {
    color: #878787;
    font-size: 13px; }

.btn.micro {
  height: 22px;
  line-height: 10px;
  font-size: 10px; }

.btn.btn-green {
  color: #fff;
  background-color: #24a240;
  border-color: #24a233; }

.btn.btn-green:hover {
  color: #fff;
  background-color: #1a7b2f;
  border-color: #1a7a12; }

.genre-wrapper.disabled,
.tag-wrapper.disabled,
.preroll-wrapper.disabled {
  background-color: #ccc; }

.preroll-image,
.film-image,
.trailer-image {
  width: 100px; }

.edit-preoll .preroll-image {
  margin-top: 20px;
  width: 400px; }

.edit-film .film-image {
  margin-top: 20px;
  width: 400px; }

.edit-trailer .trailer-image {
  margin-top: 20px;
  width: 400px; }

.plex-library-wrapper {
  max-height: 300px;
  overflow-y: scroll; }
  .plex-library-wrapper .plex-library-item {
    cursor: pointer; }

/* .dropdown-submenu {
    position: relative;
    a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }
    .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }
} */
.csv-result {
  height: 400px !important; }

#calendar-dropdown::after {
  display: none !important; }

.tag {
  text-transform: capitalize; }

body {
  font-size: .875rem; }

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; }

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); }

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 1.3rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */ }

.sidebar .nav-link {
  font-weight: 600;
  color: white;
  text-transform: uppercase; }

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999; }

.sidebar .nav-item {
  margin-top: 5px; }
  .sidebar .nav-item.active {
    background-color: #65696E; }
  .sidebar .nav-item:not(.open):hover {
    background-color: #797C81; }

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: white; }

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase; }

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); }

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0; }

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1); }

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25); }

/*
 * Utilities
 */
.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.sb-dropdown {
  cursor: pointer; }
  .sb-dropdown .nav-link {
    /* padding: 5px 15px !important; */
    /* margin: 0px 0px !important; */ }
    .sb-dropdown .nav-link:hover {
      background-color: #797C81; }
  .sb-dropdown ul {
    list-style: none; }
  .sb-dropdown .sb-dropdown-container {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px; }
    .sb-dropdown .sb-dropdown-container .sb-dropdown-item {
      padding-left: 10px;
      padding-right: 10px; }
      .sb-dropdown .sb-dropdown-container .sb-dropdown-item.active {
        background-color: #898C90; }
      .sb-dropdown .sb-dropdown-container .sb-dropdown-item:hover {
        background-color: #B2B4B7; }
      .sb-dropdown .sb-dropdown-container .sb-dropdown-item .sb-dropdown-nav-link {
        margin: 0;
        line-height: 31px;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-flex;
        color: white;
        width: 100%; }
  .sb-dropdown.open {
    background-color: #65696E; }
    .sb-dropdown.open .nav-link {
      background-color: #6e6f71; }
    .sb-dropdown.open .sb-dropdown-container {
      display: block; }

/* link:hover, body>.navbar-collapse .nav li .nav-link:hover,
.sidebar .nav li:hover .nav-link, body>.navbar-collapse .nav li:hover .nav-link,
.nav .nav-item.sb-dropdown .nav-link:hover, .nav .nav-item.sb-dropdown .nav-link:focus {
    background: initial !important;
}

.sidebar .nav li.sb-dropdown .nav-link, body>.navbar-collapse .nav li .nav-link,
.sidebar .nav .nav-item.sb-dropdown .nav-link, body>.navbar-collapse .nav .nav-link {
    margin: 0;
} */
/*
[class^="sb"] {
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}
.sidebar {
    .nav-item:not(.sb-dropdown) {
        margin-left: 15px;
        margin-right: 15px;
        .nav-link {
            padding: 5px 15px !important;
            margin: 0px 0px !important;
            &:hover {
                background: rgba(255, 255, 255, 0.50) !important;
            }
        }
    }
}

.sb-dropdown {
    opacity: 1;
    margin: 7px 15px;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    cursor: pointer;
    padding-bottom: 5px;
    .nav-link {
        padding: 5px 15px !important;
        margin: 0px 0px !important;
        &:hover {
            background: rgba(255, 255, 255, 0.50) !important;
        }
    }
    ul {
        list-style: none;
        padding-top: 10px;
    }
    .sb-dropdown-container {
        display: none;
        //margin-left: 45px;
        padding-left: 20px;
        padding-right: 20px;
        .sb-dropdown-item {
            &.active {
                opacity: 1;
                background: rgba(255, 255, 255, 0.23);
            }
            &:hover {
                opacity: 1;
                background: rgba(255, 255, 255, 0.50);
            }
            padding-left: 10px;
            padding-right: 10px;
            .sb-dropdown-nav-link {
                margin: 0;
                line-height: 31px;
                font-size: 12px;
                font-weight: 600;
                text-transform: uppercase;
                display: inline-flex;
                color: white;
                width: 100%;
            }
        }
    }
    &.open {
        background: rgba(255, 255, 255, 0.13);
        .nav-link {
            background: rgba(255, 255, 255, 0.13);
        }
        .sb-dropdown-container {
            display: block;
        }
    }
}

// fix the oddness from the admin theme
.card .table tbody td:last-child, .card .table thead th:last-child {
    display: table-cell;
}
*/

/*# sourceMappingURL=main.css.map */