.step {
    margin-bottom: 20px;
    .step-number {
        font-size: 20px;
    }
    .step-desc {
        color: #878787;
        font-size: 13px;
    }
}
.btn.micro {
    height: 22px;
    line-height: 10px;
    font-size: 10px;
}

.btn.btn-green {
    color: #fff;
    background-color: #24a240;
    border-color: #24a233;
}
.btn.btn-green:hover {
    color: #fff;
    background-color: #1a7b2f;
    border-color: #1a7a12;
}

.genre-wrapper.disabled,
.tag-wrapper.disabled,
.preroll-wrapper.disabled {
    background-color: #ccc;
}

.preroll-image,
.film-image,
.trailer-image {
    width: 100px;
}

.edit-preoll {
    .preroll-image {
        margin-top: 20px;
        width: 400px;
    }
}

.edit-film {
    .film-image {
        margin-top: 20px;
        width: 400px;
    }
}

.edit-trailer {
    .trailer-image {
        margin-top: 20px;
        width: 400px;
    }
}

.plex-library-wrapper {
    max-height: 300px;
    overflow-y: scroll;
    .plex-library-item {
        cursor: pointer;
    }
}


.dropdown-submenu {
    position: relative;
    a::after {
        transform: rotate(-90deg);
        position: absolute;
        right: 6px;
        top: .8em;
    }
    .dropdown-menu {
        top: 0;
        left: 100%;
        margin-left: .1rem;
        margin-right: .1rem;
    }
}

.csv-result {
    height: 400px !important;
}
